{% extends 'layout.html' %}
{% block content %}
    Welcome {{username}}, this is an SAT Vocabulary Builder page running on MongoDB and node.js. Enjoy!
	



	
<div class = "row">	
<div class ="col-xs-12 col-sm-6 col-md-8">	

{{item.preA}} <span class="labeled">{{item.A}}<span class="labelx">A</span></span> {{item.preB}} <span class="labeled">{{item.B}}<span class="labelx">B</span></span> {{item.preC}} <span class="labeled">{{item.C}}<span class="labelx">C</span></span> {{item.preD}} <span class="labeled">{{item.D}}<span class="labelx">D</span></span> {{item.postD}} <span class="labeled">No error<span class="labelx">E</span></span> 

<a href = "/grammar"><button type="button" class="btn btn-success">More</button></a>
</div>

<div class = "col-xs-6 col-md-4" >

</div>
</div>
{% endblock %}