{% extends 'layout.html' %}
{% block content %}
    Welcome {{username}}, this is an SAT Vocabulary Builder page running on MongoDB and node.js. Enjoy!
	



	
<div class = "row">	
<div class ="col-xs-12 col-sm-6 col-md-8">	

<div id = 'sentence'>

</div>
<script type = 'text/javascript'>

var content = {{item.sentence}};

$("#sentence").html(content);

</script>





<a href = "/grammar"><button type="button" class="btn btn-success">More</button></a>
</div>

<div class = "col-xs-6 col-md-4" >

</div>
</div>
{% endblock %}