{% extends 'layout.html' %}
{% block head %}
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
	 <form class="form-signin" method = "post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus name = "username" value = {{username}}>
        <input type="password" class="form-control" placeholder="Password" required name  = "password" value = "">

        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	  {{login_error}}
{% endblock %}
