{% extends 'layout.html' %}
{% block head %}
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <p>Already a user? <a href="/login">Login</a></p>
	 <form class="form-signin" method = "post">
        <h2 class="form-signin-heading">Sign Up</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus name = "username" value = {{username}}>{{username_error}}
        <input type="password" class="form-control" placeholder="Password" required name  = "password" value = "">{{password_error}}
		<input type="password" class="form-control" placeholder="Verify Passowrd" required name  = "verify" value = "">{{verify_error}}
		<input type="text" class="form-control" placeholder="Email(Optional)" name="email" value="{{email}}">{{email_error}}
		
		
     
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	
	
	
{% endblock %}
