{% extends 'layout.html' %}
{% block content %}
    Welcome {{username}}, this is an SAT Vocabulary Builder page running on MongoDB and node.js. Enjoy!

	
	
	
<div class = "row">	
<div class ="col-xs-12 col-sm-6 col-md-8">	
<p class = 'lead'>
 <h1>{{item.word}} <label>{{item.part}}</label></h1>
<p>
<ol>
{% for def in item.definition %}
<li><input type = 'radio' id = {{def.id}}> {{def.meaning}}</li>
{% endfor %}
</ol>
<script type = 'text/javascript'>
$("input").click(function(){
if ($(this).attr('id') == {{item.answer}})
{
alert("You are right");
location.reload(true);
}

else
{
alert("Wrong, try again");
$(this).prop('checked', false);
}


});
</script>
</p>
</p>
<p>
Helpful Links: <a href = "http://en.wiktionary.org/wiki/{{word}}" target = "_blank">Wiktionary.org</a>|<a href = "http://dictionary.reference.com/browse/{{word}}" target = "_blank">Dictionary.com</a>
</p>

<a href = "/vocabulary"><button type="button" class="btn btn-success">More</button></a>
</div>

<div class = "col-xs-6 col-md-4" >

</div>
</div>
{% endblock %}