{% extends 'layout.html' %}
{% block content %}
    Welcome {{username}}, this is a SAT Vocabulary Builder page running on MongoDB and node.js. Enjoy!

<div class = "row">	
<div class ="col-xs-12 col-sm-6 col-md-8">	
<p class = 'lead'>
 <h1>{{item.word}} <small>{{item.part}}</small></h1>
<blockquote>
<p>
Definition:{{item.definition}} 
</p>
</blockquote>
</p>
<p>
Helpful Links: <a href = {{wiktionary}} target = "dictionary">Wiktionary.org</a>|<a href = {{dictionary}} target = "dictionary">Dictionary.com</a>
</p>

<a href = "/vocabulary"><button type="button" class="btn btn-success">More</button></a>
</div>

<div class = "col-xs-6 col-md-4" >
<iframe name = "dictionary" width="auto">

</iframe>
</div>
</div>
{% endblock %}