.navbar-footer-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.jumbotron-filled{
background: url("/images/map.jpg");
font-size:12pt;
font-family:times new roman;
font-weight:bold;
font-style:italic;
color: #d1bf76; 
}

.btn-brown{
background-color: #3B170B;
color: #F3E2A9;
}

.navbar-brown{
 background-color: #3B170B;
 color: #F3E2A9;
}

.container-brown a:link {color:#3B170B;}    
.container-brown a:visited {color:#3B170B;} 
.container-brown a:hover {color:#F3E2A9;}   
.container-brown a:active {color:#F3E2A9;}  
