.navbar-footer-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.jumbotron-filled{
background: url("/images/map.jpg");
color: #F3E2A9; 
}

.btn-brown{
background-color: #3B170B;
color: #F3E2A9;
}

.navbar-brown{
 background-color: #3B170B;
 color: #F3E2A9;

}