.navbar-footer-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.jumbotron-filled{
background: url("/images/map.jpg");
color: #F3E2A9; 
}

.button-brown{
background-color: #F3E2A9;
color: #848484;
}